@media (min-width: 91em) {
  .snippets-features-box {
    margin: 0 auto;
  }
}

@media (max-width: 72em) {
  .header-logo {
    padding-top: 12.3rem;
  }

  .snippets-features-box {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 8rem;
  }

  .snippets-features {
    row-gap: 4.8rem;
    padding-bottom: 0;
  }

  .snippets-item {
    row-gap: 1rem;
  }

  .snippets-img {
    width: 100%;
  }

  .access-img {
    width: 90%;
  }

  .section-customers {
    gap: 7.5rem;
    justify-content: center;
  }

  .section-customers img {
    width: 12rem;
  }
}

@media (max-width: 60em) {
  .section-customers {
    gap: 4.5rem;
    justify-content: center;
  }

  .section-customers img {
    width: 10rem;
  }

  .section-snippets {
    display: grid;
    justify-items: center;
  }

  .snippets-features-box {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    gap: 5rem;
    margin: 0 auto;
  }

  .snippets-features {
    row-gap: 3.2rem;
  }
  .snippets-img {
    width: 55rem;
  }

  .header,
  .section-snippets,
  .section-workflow,
  .section-customers {
    margin-bottom: 13rem;
  }

  .footer-logo {
    margin-right: 6rem;
  }
}

@media (max-width: 47em) {
  .heading-secondary {
    font-size: 3.2rem;
  }

  .hero-title {
    font-size: 3.6rem;
  }

  .description-text {
    font-size: 1.8rem;
    line-height: 1.67;
  }

  .section-snippets .heading-text {
    padding: 0 3.2rem;
  }

  .snippets-img {
    width: 45rem;
  }

  .section-access {
    row-gap: 7rem;
  }

  .section-customers {
    gap: 2rem;
  }

  .section-customers img {
    width: 7.5rem;
  }

  .workflow-tools {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 3rem;
  }

  .workflow-item:last-child {
    grid-column: 1 / -1;
  }

  .workflow-item:last-child .font-body-normal {
    padding: 0 9.6rem;
  }

  .footer {
    flex-direction: column;
    padding: 5.2rem 10.8rem;
    text-align: center;
  }
  .footer-navigation {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin-bottom: 4.8rem;
  }

  .footer-item:nth-child(odd),
  .footer-item:nth-child(even) {
    grid-area: initial;
  }

  .footer-logo {
    margin: 0 0 4rem 0;
  }

  .footer-redes {
    gap: 4rem;
    margin-left: 0;
  }
}

@media (max-width: 34em) {
  .btn--ios:link,
  .btn--ios:visited {
    padding: 1.3rem 5rem;
  }

  .btn--mac:link,
  .btn--mac:visited {
    padding: 1.3rem 4.6rem 1.3rem 4.4rem;
  }

  .header-logo {
    padding-top: 12.3rem;
  }

  .hero-title {
    font-size: 3.2rem;
    line-height: 1.6;
    letter-spacing: -0.52px;
  }

  .description-text,
  .font-body-medium,
  .font-body-normal {
    font-size: 1.6rem;
    line-height: 1.62;
    letter-spacing: 0.12px;
  }

  .description-text {
    margin-bottom: 1.6rem;
  }

  .section-hero .description-text {
    margin-bottom: 4.8rem;
  }

  .heading-secondary {
    font-size: 2.8rem;
    line-height: 1.25;
    margin-bottom: 1.6rem;
    letter-spacing: -0.46px;
  }

  .heading-tertiary {
    font-size: 2.4rem;
    line-height: 1.25;
    letter-spacing: -0.39px;
  }

  .section-snippets {
    row-gap: 6.4rem;
    margin-bottom: 18.6rem;
  }

  .snippets-features-box {
    gap: 5.6rem;
  }

  .snippets-features {
    gap: 4.8rem;
  }

  .snippets-img,
  .access-img {
    width: 31.1rem;
  }

  .section-access {
    row-gap: 6.4rem;
    margin-bottom: 4.3rem;
  }

  .section-workflow {
    row-gap: 9rem;
    margin-bottom: 13.1rem;
  }

  .workflow-tools {
    grid-template-columns: 1fr;
    gap: 5.6rem;
  }

  .workflow-tools h3 {
    margin-bottom: 1.8rem;
  }

  .workflow-item:last-child .font-body-normal {
    padding: 0;
  }

  .section-customers {
    flex-direction: column;
    gap: 6rem;
    height: initial;
    margin-bottom: 17rem;
  }

  .section-customers img {
    width: 14rem;
  }

  .section-clipboard {
    margin-bottom: 17rem;
  }
  .section-clipboard .description-text {
    margin-bottom: 4.6rem;
  }
}

@media (max-width: 24em) {
  body {
    background: url(../images/bg-header-mobile.png) no-repeat top center;
  }

  .btn:link,
  .btn:visited {
    width: 100%;
  }
}

@media (max-width: 20rem) {
  .container {
    padding: 0 1.6rem;
  }
  .snippets-img,
  .access-img {
    width: 20rem;
  }

  .btn:link,
  .btn:visited {
    font-size: 1.5rem;
  }
}
