/* ========== GOOGLE FONTS ==========  */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

/* ========== VARIABLES CSS ==========  */
:root {
  /* font-size */
  --font-h1: 4.6rem;
  --font-h2: 3.6rem;
  --font-h3: 2.4rem;
  --font-body-big: 2rem;
  --font-body-medium: 1.8rem;
  --font-body-normal: 1.6rem;

  /* font-weight */
  --fw-regular: 500;
  --fw-semiBold: 600;

  /* color */
  --color-primary: #4c545c;
  --color-secondary: #9eabb2;

  --color-strongCyan: #26baa4;
  --color-lightBlue: #6173ff;

  /* line height */
  --lh-1-88: 1.88;
  --lh-1-67: 1.67;
  --lh-1-25: 1.25;
}

/* ========== GENERAL STYLESS ==========  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* just to make it easier to calculate px for rem 
    
  calculation: 10px / 16px = 0,625 / 100
    
  10px = 1rem
  */
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-secondary);
  line-height: 1;
  overflow-x: hidden;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

/* ========== REUSABLE COMPONENTS AND CLASSES ==========  */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-secondary {
  font: var(--fw-semiBold) var(--font-h2) / var(--lh-1-25) "Bai Jamjuree",
    sans-serif;
  color: var(--color-primary);
  letter-spacing: -0.059rem;
  margin-bottom: 1.9rem;
}
.heading-tertiary {
  font: var(--fw-semiBold) var(--font-h3) / var(--lh-1-25) "Bai Jamjuree",
    sans-serif;
  color: var(--color-primary);
  letter-spacing: -0.039rem;
}

.font-body-medium {
  font: var(--fw-regular) var(--font-body-medium) / var(--lh-1-67)
      "Bai Jamjuree",
    sans-serif;
  letter-spacing: 0.014rem;
}

.font-body-normal {
  font: var(--fw-regular) var(--font-body-normal) / var(--lh-1-88)
      "Bai Jamjuree",
    sans-serif;
  letter-spacing: 0.012rem;
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font: var(--fw-semiBold) 1.8rem/1.67 "Bai Jamjuree";
  color: #fff;
  border-radius: 2.8rem;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.btn--ios:link,
.btn--ios:visited {
  background: var(--color-strongCyan);
  box-shadow: 0 1rem 2rem rgba(137, 229, 199, 0.503305),
    inset 0 -0.188rem 0 rgba(0, 0, 0, 0.151333);
  padding: 1.3rem 3.6rem;
  position: relative;
}

.btn--mac:link,
.btn--mac:visited {
  background-color: var(--color-lightBlue);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.0988035),
    inset 0 -0.188rem 0 rgba(0, 0, 0, 0.151333);
  padding: 1.3rem 3.5rem 1.3rem 3.2rem;
  position: relative;
}

.btn--ios:hover::after,
.btn--ions:active::after,
.btn--mac:hover::after,
.btn--mac:active::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
}

.heading-text {
  max-width: 78rem;
  text-align: center;
  margin: 0 auto;
}

/* ========== HEADER ==========  */
.header {
  padding: 12.8rem 0 15rem;
  background: url(../images/bg-header-desktop.png) no-repeat top center;
}

.section-hero {
  max-width: 80rem;
  text-align: center;
}

.hero-img {
  margin-bottom: 5.6rem;
}

.heading-primary {
  font: var(--fw-semiBold) var(--font-h1) / 1.26 "Bai Jamjuree", sans-serif;
  color: var(--color-primary);
  letter-spacing: -0.75px;
  margin-bottom: 1.6rem;
}

.hero-description {
  font: var(--fw-regular) var(--font-body-big) / 1.5 "Bai Jamjuree", sans-serif;
  letter-spacing: 0.15px;
  margin-bottom: 4.8rem;
}

/* ========== SNIPPETS SECTION ==========  */
.section-snippets {
  display: grid;
  gap: 8rem;
  margin-bottom: 15rem;
}

.snippets-features-box {
  max-width: 127.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 11rem;
  margin-left: -6.4rem;
}

.snippets-features {
  display: grid;
  row-gap: 56px;
  padding-bottom: 9.7rem;
}
.snippets-item {
  display: grid;
  row-gap: 0.8rem;
}

/* ========== ACCESS SECTION ==========  */
.article-access {
  display: grid;
  justify-content: center;
  justify-items: start;
  row-gap: 10rem;
  margin-bottom: 8.8rem;
}

.access-img {
  width: 81.2rem;
}

/* ========== WORKFLOW SECTION ==========  */
.section-workflow {
  display: grid;
  row-gap: 7.2rem;
  margin-bottom: 15rem;
}

.workflow-tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.workflow-item {
  text-align: center;
}

.workflow-icon {
  margin-bottom: 4rem;
}
.workflow-icon--bottom {
  margin-bottom: 4.7rem;
}

.workflow-item h3 {
  margin-bottom: 1.6rem;
}

/* ========== CUSTOMERS SECTION ==========  */
.section-customers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 9.5rem;
  margin-bottom: 15rem;
  height: 7.2rem;
}

/* ========== CLIPBOARD SECTION ==========  */
.section-clipboard {
  text-align: center;
  margin-bottom: 15rem;
}

.clipboard-description {
  font: var(--fw-regular) var(--font-body-medium) / var(--lh-1-67)
      "Bai Jamjuree",
    sans-serif;
  letter-spacing: 0.14px;
  max-width: 72rem;
  margin-bottom: 4.8rem;
}

/* ========== FOOTER ==========  */
.footer-bg {
  position: relative;
}
.footer-bg::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #979797;
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.footer {
  display: flex;
  align-items: center;
  gap: 13.5rem;
  padding: 3.9rem 3.2rem;
}

.footer-logo {
  height: 5.5rem;
}

.footer-navigation {
  display: grid;
  grid-template-columns: repeat(3, 16rem);
  row-gap: 1.2rem;
  column-gap: 3rem;
}

.footer-item:nth-child(2) {
  grid-area: 2 / 1;
}

.footer-item:nth-child(3) {
  grid-area: 1 / 2;
}

.footer-item:nth-child(5) {
  grid-area: 1 / 3;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: var(--color-primary);
}

.footer-link:hover,
.footer-link:active {
  color: var(--color-strongCyan);
}

.footer-redes {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-left: auto;
}

.footer-icon:hover,
.footer-icon:hover svg path {
  fill: var(--color-strongCyan);
}
